rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /taxtag/{uid} {
      allow read, write: if request.auth != null
        && request.auth.uid == uid
        && request.auth.token.email == 'yohaken@gmail.com';
    }
  }
}
