rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isOwner() {
      return request.auth != null
        && request.auth.token.email == 'yohaken@gmail.com';
    }

    match /{allPaths=**} {
      allow read, write: if isOwner();
    }
  }
}
